{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
    <script>
        function getOfficeList() {
            const url = '/lab6/json-rpc-api/';
            const json = {
                'jsonrpc': '2.0',
                'method': 'info',
                'id': Math.round(Math.random()*1000)
            };
            fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(json)
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                const office_list = data.result;
                const ul = document.getElementById('office-list');
                for(let i = 0; i < office_list.length; i++) {
                    const office = office_list[i];
                    const li = document.createElement('li');
                    li.innerText = `${office.number}: ${office.tenent || 'Свободен'}`;
                    const bookingButton = document.createElement('button');
                    bookingButton.innerText = 'Забронировать';
                    bookingButton.onclick = function() {booking(office.number)};
                    li.appendChild(bookingButton);
                    ul.appendChild(li);
                }
            });
        }
        function booking(officeNumber) {
            const url = '/lab6/json-rpc-api/';
            const json = {
                'jsonrpc': '2.0',
                'method': 'booking',
                'params': officeNumber,
                'id': Math.round(Math.random()*1000)
            };
            fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(json)
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                if(data.error) {
                    switch(data.error.code) {
                        case 1:
                            alert('Авторизуйтесь');
                            break;
                        case 2:
                            alert('Занят');
                            break;
                        case -32601:
                            alert('Метод не найден')
                    };
        
                }
                else {
                    document.getElementById('office-list').innerHTML = '';
                    getOfficeList();
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            getOfficeList();
        });
    </script>
{% endblock %}

{% block main %}
    <h1>Список кабинетов</h1>
    <div class="link-container">
        <div>
            <a href="/lab6/lab6_login">Вход</a>
        </div>
        <div>
            <a href="/lab6/lab6_register">Регистрация</a>
        </div>
        <div>
            {% if login %}
                {{ login }}
            {% else %}
                Анонимус
            {% endif %}
        </div>  
    </div>

    <ul id="office-list"></ul>

    <div>
        <a href="/lab6/logout">Выйти</a>
    </div>

{% endblock %}