{% extends "base.html" %}
{% block lab %}Лабораторная работа 6{% endblock %}
{% block script %}
    <script>
        let mounthlyPriceCounter = 0;
        let currentUser = null;
        
        function getOfficeList() {
            const url = '/lab6/json-rpc-api/';
            const json = {
                'jsonrpc': '2.0',
                'method': 'info',
                'id': Math.round(Math.random() * 1000)
            };
            fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(json)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error('Ошибка при получении списка офисов:', data.error);
                    return;
                }

                const office_list = data.result;
                const ul = document.getElementById('office-list');
                ul.innerHTML = '';
                mounthlyPriceCounter = 0; 

                office_list.forEach(office => {
                    const li = document.createElement('li');

                    if (office.tenant) {
                        li.innerText = `${office.number}: Занят`;
                        if (office.tenant === currentUser) {
                            mounthlyPriceCounter += office.price; 
                        }
                    } else {
                        li.innerText = `${office.number}: Свободен`;
                    }

                    const bookingButton = document.createElement('button');
                    bookingButton.innerText = 'Забронировать';
                    bookingButton.onclick = () => booking(office.number);
                    li.appendChild(bookingButton);

                    if (office.tenant) {
                        const cancelButton = document.createElement('button');
                        cancelButton.innerText = 'Освободить';
                        cancelButton.onclick = () => cancelBooking(office.number);
                        li.appendChild(cancelButton);
                    }

                    const price = document.createElement('span');
                    price.innerText = `${office.price} Руб./мес.`;
                    li.appendChild(price);

                    ul.appendChild(li);
                });

                const mountly_price = document.getElementById('mountly-price');
                mountly_price.innerHTML = `Ваша арендная плата: ${mounthlyPriceCounter} Руб./мес.`;
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
            });
        }

        function booking(officeNumber) {
            const url = '/lab6/json-rpc-api/';
            const json = {
                'jsonrpc': '2.0',
                'method': 'booking',
                'params': officeNumber,
                'id': Math.round(Math.random() * 1000)
            };
            fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(json)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    switch (data.error.code) {
                        case 1:
                            alert('Войдите для бронирования');
                            break;
                        case 2:
                            alert('Офис уже арендуется');
                            break;
                        case -32601:
                            alert('Странная ошибка');
                            break;
                    }
                } else {
                    getOfficeList();
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
            });
        }

        function cancelBooking(officeNumber) {
            const url = '/lab6/json-rpc-api/';
            const json = {
                'jsonrpc': '2.0',
                'method': 'cancel',
                'params': officeNumber,
                'id': Math.round(Math.random() * 1000)
            };
            fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(json)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    switch (data.error.code) {
                        case 1:
                            alert('Войдите для отмены бронирования');
                            break;
                        case 3:
                            alert('Офис не забронирован');
                            break;
                        case 4:
                            alert("Вы не можете отменить чужую бронь");
                            break;
                        case -32601:
                            alert('Странная ошибка');
                            break;
                    }
                } else {
                    getOfficeList();
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            currentUser = '{{ session.get("login") }}'; 
            getOfficeList();
        });
    </script>
{% endblock %}
{% block main %}

    <h1>Список офисов</h1>
    <ul id="office-list"></ul>
    <div id="mountly-price"></div>
{% endblock %}