{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной работы - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/tree">Счетчик деревьев</a></li>
        <li><a href="/lab4/login">Логин</a></li>
        <li><a href="/lab4/fridge">Холодильник онлайн</a></li>
        <li><a href="/lab4/corns">Заказ зерна</a></li>
    </ol>   
{% endblock %}