{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
<div class="main-container">
    {% if authorized %}
        <h1 class="title">Добро пожаловать, {{ name }}, ваш пол: {{ sex }}</h1>
        <div class="action-buttons">
            <form action="/lab4/logout" method="post" class="form-inline">
                <button class="button">Выход</button>
            </form>
        </div>
    {% else %}
        <h1 class="title">Вход</h1>
        <h2 class="subtitle">Пожалуйста, авторизуйтесь</h2>
        <form method="post" class="form order-form">
            <div class="form-group">
                <label for="login">Пользователь:</label>
                <input type="text" id="login" name="login" value="{{ last_login }}" class="input-field">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" class="input-field">
            </div>
            <div class="error">{{ error }}</div>
            <div class="form-actions">
                <button type="submit" class="button">Войти</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}