{% extends "base.html" %}

{% block lab %}Нравится/не нравится{% endblock%}

{% block main %}
    <div>
        Посажено деревьев: {{ tree_count }}
    </div>
    <form method="post">
        {% if tree_count >= 10 %}
            <button disabled name="operation" value="plant">Посадить дерево</button>
        {% else %}
            <button name="operation" value="plant">Посадить дерево</button>
        {% endif %}

        {% if tree_count <= 0 %}
            <button disabled name="operation" value="cut">Срубить дерево</button>
        {% else %}
            <button name="operation" value="cut">Срубить дерево</button>
        {% endif %}
{% endblock %}