{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
{% endblock %}

{% block main %}
    <h1>Укажите ваш пол</h1>
    <form method="post" class="centered-form">
        <label>
            <input type="radio" name="gender" value="male" required> Мужчина
        </label>
        <label>
            <input type="radio" name="gender" value="female" required> Женщина
        </label>
        <button type="submit" class="main-button">Далее</button>
    </form>
{% endblock %}