{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
{% endblock %}

{% block main %}
    <h1>Что вам больше нравится?</h1>
    <form method="post" class="centered-form">
        <label>
            <input type="radio" name="preference" value="tasty" required> Что-то вкусное
        </label>
        <label>
            <input type="radio" name="preference" value="beautiful" required> Что-то красивое
        </label>
        <button type="submit" class="main-button">Далее</button>
    </form>
{% endblock %}