{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/flowers/0">цветок</a></li>
        <li><a href="/lab2/add_flower/роза">добавление цветка</a></li>
        <li><a href="/lab2/clear_flowers">очистка цветов</a></li>
        <li><a href="/lab2/all_flowers">все цветы</a></li>
        <li><a href="/lab2/filters">фильтры</a></li>
        <li><a href="/lab2/calc/1/1">вычисления</a></li>
        <li><a href="/lab2/books">книги Стивена Кинга</a></li>
        <li><a href="/lab2/deadlock">персонажи Deadlock</a></li>
    </ol>   
{% endblock %}