{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    {% if name %}
    <div>
        Привет, <span style="color: {{name_color}}">{{ name }}</span>, твой возраст {{ age }}!
    </div>
    {% else %}
    <div>Привет, аноним</span></div>
    {% endif %} 
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Очистить куки</a></li>
        <li><a href="/lab3/form1">Форма (имя, возраст, пол)</a></li>
        <li><a href="/lab3/order">Заказ напитков</a></li>
        <li><a href="/lab3/settings">Настройки</a></li>
        <li><a href="/lab3/formTrain">Железнодорожный билет</a></li>
    </ol>   
{% endblock %}