{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>    

        <form method="post">
            <div>
                <label>
                    Название статьи:
                    <input type="text" maxlength="50" name="title" required>
                </label>
            </div>
            
            <div>
                <label>
                    <textarea name="article_text" required></textarea>
                </label>
            </div>

            <div>
                <button type="submit">Готово</button>
            </div>
        </form>
        <a href="/lab5/">Назад</a>
        <div class="error">
            {{ error }}
        </div>
    </div>
{% endblock %}
