{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>BABR</h1>
    <div class="link-container">
        <div>
            <a href="/lab5/login">Вход</a>
        </div>
        <div>
            <a href="/lab5/register">Регистрация</a>
        </div>
        <div>
            <a href="/lab5/list">Список статей</a>
        </div>
        <div>
            <a href="/lab5/create">Создать статью</a>
        </div>
        <div>
            {% if login %}
                {{ login }}
            {% else %}
                Анонимус
            {% endif %}
        </div>
    </div>
{% endblock %}