{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <div class="article-container">
        <h1 class="page-title">Вход в систему</h1>
        <form action="/lab5/login" method="post" class="login-form">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
        <div class="error">
            {{ error }}
        </div>
        <a href="/lab5/" class="back-link">Назад</a>
    </div>
{% endblock %}