body {
    background-color: rgb(166, 230, 173);
    color: rgb(75, 75, 75);
}

img {
    width: 800px;
    height: 400px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    position: relative;
    left: 550px;
    top: 100px;
}