body {
    background-color: rgb(254, 252, 255);
    color: rgb(45, 45, 45);
    font-family: century gothic;
    margin: 0px;
}

main {
    margin: 10px 20px 45px;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: century gothic;
    padding: 15px; 
    font-size: 16pt;
    opacity: 0.7;
    cursor: pointer;
}

footer {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    font-family: century gothic;
    padding: 15px; 
    font-size: 16pt; 
    text-align: right; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    cursor: pointer;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character {
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.character img {
    width: 100%;
    border-radius: 10px;
}

.character h2 {
    margin: 10px 0;
    color: #ff2a00;
}

.character p {
    color: antiquewhite;
    font-size: 14px;
}