body {
    background-color: rgb(254, 252, 255);
    color: rgb(45, 45, 45);
    font-family: century gothic;
    margin: 0px;
}

main {
    margin: 10px 20px 45px;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: century gothic;
    padding: 15px; 
    font-size: 16pt;
    opacity: 0.7;
    cursor: pointer;
}

footer {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    font-family: century gothic;
    padding: 15px; 
    font-size: 16pt; 
    text-align: right; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    cursor: pointer;
}