{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <div class="article-container">
        <h1>Вход в систему</h1>
        <form action="/lab8/login" method="post">
            <div>
                <label>
                    Логин: <input type="text" name="login">
                </label>
            </div>

            <div>
                <label>
                    Пароль: <input type="password" name="password">
                </label>
            </div>
            <button type="submit">Вход</button>
        </form>
        <div class="error">
            {{ error }}
        </div>
        <a href="/lab8/">Назад</a>
    </div>
{% endblock %}
